<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Detail</title>
</head>

<body>
    <div class="wrapper" layout:fragment="content">

        <h1> Details</h1>
        <div>
            <img th:src="${company.image}" alt="Company Image" width="150" height="150" />
        </div>
        <table border="1">
            <tr>
                <th>ID</th>
                <td th:text="${company.id}"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td th:text="${company.name}"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="${company.address}"></td>
            </tr>
        </table>
        <br />
        <a th:href="'/company/'">Back to Company List</a>
    </div>
</body>

</html>