<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="_layout">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Employees</title>
</head>

<body>
  <div class="wrapper" layout:fragment="content">
    <h2>EMPLOYEE LIST</h2>
    <div class="add">
      <a th:href="'/employee/add'">New</a>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Company</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}" />
        <td>
          <a th:href="'/employee/detail/'+${employee.id}" th:text="${employee.name}"></a>
        </td>
        <td>
          <img th:src="${employee.image}" width="100" height="100" alt="employee_image" />
        </td>
        <td>
          <a th:href="'/company/' + ${employee.company.id} " th:text="${employee.company.name}"></a>
        </td>
        <td>
          <a th:href="'/employee/update/' + ${employee.id} " th:text="UPDATE"></a>
        </td>
        <td>
          <a th:href="'/employee/delete/' + ${employee.id} " th:text="DELETE"></a>
        </td>
      </tr>
    </table>
    <div class="filterContainer">
      Company:
      <select aria-label="Companies" name="companies" id="filterCompany" title="">
        <option value="0">All companies</option>
        <option name="companies" th:each="comp : ${companies}" th:value="${comp.id}" th:text="${comp.name}" />
      </select>
      Sort:
      <select aria-label="Companies" id="sortOptions">
        <option value="0">Latest</option>
        <option value="1">Oldest</option>
        <option value="2">By name ASC</option>
        <option value="3">By name DESC</option>
      </select>
    </div>
  </div>

  <script th:inline="javascript">
    let companyId = /*[[${ companyId }]]*/ null;
    let sortMode = /*[[${ sortMode }]]*/ null;

    function filterRedirect() {
      let url = "/employee/?company=" + companyId + "&sort=" + sortMode;
      window.location.href = url;
    }

    window.addEventListener('load', () => {
      const comFilter = document.getElementById('filterCompany');
      const sortFilter = document.getElementById('sortOptions');

      if (comFilter) comFilter.value = companyId;
      if (sortFilter) sortFilter.value = sortMode;

      if (comFilter) {
        comFilter.addEventListener('change', (e) => {
          companyId = e.target.value;
          filterRedirect();
        });
      }

      if (sortFilter) {
        sortFilter.addEventListener('change', (e) => {
          sortMode = e.target.value;
          filterRedirect();
        });
      }
    });
  </script>

</body>

</html>