<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="_layout">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UPDATE EMPLOYEE</title>
</head>

<body>
  <div class="wrapper" layout:fragment="content">
    <h2>UPDATE EMPLOYEE</h2>
    <form method="post" th:action="'/employee/save'" th:object="${employee}">
      <input type="hidden" th:field="*{id}" />
      <p>
        <label for="name">Employee name: </label>
        <input type="text" th:field="*{name}" name="name" id="name" />
      </p>
      <p>
        <label for="age">Employee age: </label>
        <input type="number" th:field="*{age}" name="age" id="age" />
      </p>
      <p class="form-group">
        <label for="imageimage">Employee image: </label>
        <input type="text" th:field="*{image}" name="imageimage" id="imageimage" />
      </p>
      <p class="form-group">
        <label for="address">Employee address </label>
        <input type="text" th:field="*{address}" name="address" id="address" />
      </p>
      <p class="form-group">
        <label for="company">Employee company </label>
        <select required name="company" id="company" th:field="*{company}">
          <option value="">Choose company...</option>
          <option th:each="comp : ${companies}" th:value="${comp.id}" th:text="${comp.name}" />
        </select>
      </p>
      <p>
        <button type="submit">UPDATE</button>
      </p>
    </form>
  </div>
</body>

</html>